@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}
/* --spacing-- */
.bigContent{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
/* --NavigationBar-- */
.nav-title{
  font-weight: lighter;
}
.navBar {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-links {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
#active{
  color: white;
}
.navBar a{  
  color: #bdbdbd;
  text-decoration: none;
}
.btn{
  color: white;
  background-color: #17a2b8;
  padding: 6px;
  border: solid #000000;
  font-size: medium;
  box-shadow: 3px 3px #000000;
}

/* Profile section */
.profileSection{
    border: solid #d1d1d1;
    width: 600px;
    margin-bottom:20px ;  
}
/* Profile section-profileBar */
.portrait{
    background-color: white;
    width: 80px;
    border-radius:50%;
    border: #d1d1d1 solid 5px;
    padding: 5px;
    position: absolute;
    top: 50px;
    left:25px;
}
.profilePic{
  background-color: #17a2b8;
  width: 600px;
  height: 150px;
  position: relative;
}
.portrait{
  background-color: white;
  width: 190px;
  border-radius:50%;
  border: #d1d1d1 solid 5px;
  padding: 5px;
  position: absolute;
  top: 30px;
  left:25px;
}
/* Profile section-profileInfo */
.profileInfo{
  height: 200px;
  position: relative;
  padding: 100px 30px 30px 30px;
  display: grid;
}
.icon1 {
    width: 0.8rem;
    padding: 0px 5px;
}
.icon2 {
    width: 1rem;
}
.skillsDesc{
    display: flex;
    justify-content:flex-start;
    margin-right:50px ;
}
.nav-title{
    font: medium;
}
/* Profile section-Education */
h3{
  padding:0px 10px;
}
.education{
  border: solid #d1d1d1;
  width: 600px;
}
.edInfo{
  margin: 20px;
}
.edInfo p{
  padding: 5px 0px;
}
.date{
  color: #bab8b8;
}
.educationBar{
  background-color: #333333;
  color: white;
  padding: 10px;
}
/* user Section */
.connections{
  background-color: #333333;
}
.connect{
  border: #d1d1d1 solid;
}
.connectionsReq{
  border: #d1d1d1 solid;
  width: 350px;
  margin-bottom: 20px;
}
.connectionBar{
  background-color: #333333;
  color: white;
  padding: 20px;
  display: flex;
  gap:10px;
}
.connectionBar p{
  width: 20px;
  height: 20px;
  background-color: #bab8b8;
  border: 2px;
  border-radius: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.requests{
  margin: 10px;
}
.pImage{
  width: 50px;
  border-radius: 50%;
}
.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.icons{
  display: inline-block;
}
.icon{
width: 35px;
}
.more{
  border-top: #d1d1d1 solid;
  padding: 10px;
}
#onlineCon{
  width: 50px;
  border-radius: 12px;
}
.flex{
display: flex;
align-items:center ;
gap:20px;
}